$primary-color: #97c5c1;
$primary-color-dark: #8c8c8c;
$secondary-color: #b6a851;
$white: #f6f6f4;
$white-dark: #c5c3c3;
$gray: #68655e;
$gray-light: #a2a19d;

$img-dir: /assets/images;
$img-dir-icons: /assets/images/icons;
$img-dir-source: /assets/images/source;
$img-dir-xsmall: /assets/images/xsmall;
$img-dir-xxsmall: /assets/images/xxsmall;
$img-dir-small: /assets/images/small;
$img-dir-medium: /assets/images/medium;
$img-dir-large: /assets/images/large;
