.experience {
    z-index: 3;
    position: relative;

    &__item {
        font-weight: 400;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        display: block;
        margin-bottom: 0.6rem;

        a {
            color: $white;
            border-bottom: 1px dotted;
        }
    }

    &__dates {
        font-weight: 300;
        font-size: 1.1rem;
        display: block;
        margin-bottom: 2rem;

        @mixin atMedium {
            display: inline;
            margin-bottom: 0;
        }
    }

    &__description-title {
        font-weight: 400;
        margin-bottom: 1rem;
        display: block;
        font-size: 1.3rem;
    }

    &__description {
        font-size: 1rem;

        @mixin atSmall {
            font-size: 1.2rem;
        }

        &--no-margin {
            margin: 0;
        }
    }

    &__separator {
        @mixin atMedium {
            display: none;
        }
    }
}
