.icon {
    display: block;

    &--star {
        background: url('$img-dir/icons/stars.png');
        background-size: 53px;
        width: 18px;
        height: 18px;

        @mixin atXSmall {
            background-size: 62px;
            width: 20px;
            height: 20px;
        }

        &--filled {
            background-position: 0 0;
        }

        &--half {
            background-position: -18px 0;

            @mixin atSmall {
                background-position: -21px 0;
            }
        }

        &--empty {
            background-position: -36px 0;

            @mixin atXSmall {
                background-position: -41px 0;
            }
        }
    }
}
