.icon {
    background: url('$img-dir/icons/sprite.png');
    display: block;

    &--star {
        background-size: 85px; 
        width: 20px;
        height: 20px;

        &--filled {
            background-position: 0px 0px;
        }

        &--half {
            background-position: -21px 0px;
        }

        &--empty {
            background-position: -41px 0px;
        }
    }
}