.lightbox {
    &__overlay {
        transition: all 0.4s ease-out;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        &__container {
            transition: opacity 0.4s ease-out;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            overflow: hidden;
            width: 80%;

            @mixin atXSmall {
                width: 82%;
            }

            @mixin atSmall {
                width: 84%;
            }

            @mixin atMedium {
                width: 87%;
            }

            &__nav {
                list-style: none;
                background-color: rgba($white, 1);
                color: $gray;
                position: absolute;
                width: 87%;
                top: 13px;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
                padding-left: 0;
                overflow: hidden;
                font-size: 0.9rem;
                border-radius: 6px;
                display: none;

                @mixin atMedium {
                    display: block;
                    width: 87%;
                }

                li {
                    float: left;
                    padding: 1%;
                }

                li&--active {
                    color: $primary-color;
                }

                li:hover {
                    background-color: $gray;
                    color: $white;
                    cursor: pointer;
                }
            }

            &__image {
                margin-left: auto;
                margin-right: auto;
                display: block;

                & img {
                    width: 100%;
                    border-radius: 6px;
                    border: 2px solid $white;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
                }
            }

            &__description {
                background: $white;
                padding: 1.5rem;
                margin-top: 0.1rem;
                border-radius: 6px;
                max-height: 250px;
                font-size: 0.9rem;

                & p:first-child {
                    margin-top: 0;
                }

                & p:last-child {
                    margin-bottom: 0;
                }
            }

            &--open {
                opacity: 1;
                position: relative;
                visibility: visible;
                height: 92%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &--open {
            opacity: 1;
            visibility: visible;
            z-index: 11;
        }

        &__left-arrow,
        &__right-arrow {
            position: absolute;
            top: 50%;
            font-size: 4rem;
            color: $primary-color;
            background-color: $white;
            cursor: pointer;
            transform: translateY(-50%);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: $primary-color;
                color: $white;
            }
        }

        &__left-arrow {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            left: 0;
            padding: 0 1rem 0.4rem 0.4rem;

            & i {
                padding-left: 0.1rem;
            }
        }

        &__right-arrow {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            right: 0;
            padding: 0 0.4rem 0.4rem 1rem;

            & i {
                padding-right: 0.1rem;
            }
        }

        &__close {
            position: absolute;
            right: 1rem;
            font-size: 3rem;
            color: white;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            top: 0.5rem;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
