.row {
    @mixin clearfix;
    position: relative;

    &--gutters {
        margin-right: -65px;
    }

    &--no-gutters-until-xsmall {
        margin-right: 0
    }

    &--gutters-large {
        margin-right: -90px;
    }

    &--gutters > div {
        padding-right: 65px;
    }

    &--gutters-large > div {
        padding-right: 90px;
    }

    &--no-gutters-until-xsmall {
        padding-right: 0
    }

    &--b-margin {
        margin-bottom: 2rem;
    }

    &--b-margin-until-medium {
        margin-bottom: 2rem;
    }

    &__no-margin-until-medium {
        margin-bottom: 0;
    }

    @mixin atXSmall {

        &__xsmall-6 {
            width: 50%;
            float: left;

            &--opposite {
                width: 50%;
                float: right;
            }
        }

        &--no-gutters-until-xsmall {
            margin-right: -65px;
        }

        &--no-gutters-until-xsmall > div {
            padding-right: 65px;
        }


    }

    @mixin atSmall {

        &__small-4 {
            float: left;
            width: 33.33%
        }

        &__small-5 {
            float: left;
            width: 41.66%;

            &--opposite {
                float: right;
                width: 41.66%;
            }
        }

        &__small-6 {
            float: left;
            width: 50%
        }

        &__small-7 {
            float: left;
            width: 58.33%;

            &--opposite {
                float: right;
                width: 58.33%;
            }
        }

    }

    @mixin atMedium {
        &__no-margin-until-medium {
            margin-bottom: 2rem;
        }

        &__b-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-3 {
            float: left;
            width: 25%;
        }

        &__medium-4 {
            float: left;
            width: 33.33%
        }

        &__medium-5 {
            float: left;
            width: 41.66%;

            &--opposite {
                width: 41.66%;
                float: right;
            }

        }

        &__medium-6 {
            float: left;
            width: 50%;
        }

        &__medium-7 {
            float: left;
            width: 58.33%;

            &--opposite {
                width: 58.33%;
                float: right;
            }
        }


        &__medium-8 {
            float: left;
            width: 66.66%
        }

    }

    @mixin atLarge {
        
        &__large-4 {
            float: left;
            width: 33.33%
        }

    }

}